<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client list
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sl NO</th>
                                    <th scope="col">Client Name</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Postal Code</th>
                                    <th scope="col">Province</th>
                                    <th scope="col">Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(item of clients; track $index) {
                                <tr>
                                    <th scope="row">{{$index +1}}</th>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.CompanyName}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.postalCode}}</td>
                                    <td>{{item.province}}</td>
                                    <td>{{item.address}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="onEditClient(item)">Edit</button>
                                        <button class="btn btn-danger" (click)="onDeleteClient($index)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form action="" #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Client Name</label>
                            <input type="text" #personName="ngModel" minlength="5" required name="contactPersonName"
                                [(ngModel)]="clientObj.contactPersonName" class="form-control">
                            @if (personName.touched) {
                            <div class="text-danger">
                                @if (personName?.errors?.['required']) {
                                <span>Value can't be empty!</span>
                                }
                                @if (personName?.errors?.['minlength']) {
                                <span>Must be 5 characters!</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Company Name</label>
                            <input type="text" [(ngModel)]="clientObj.CompanyName"  name="CompanyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" [(ngModel)]="clientObj.city" name="city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Postal Code</label>
                            <input type="text" [(ngModel)]="clientObj.postalCode" name="postalCode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Province</label>
                            <input type="text" [(ngModel)]="clientObj.province" name="province" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <input type="text" [(ngModel)]="clientObj.address" name="address" class="form-control">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                                {{clientObj.clientId != 0 ? 'Update Client':'Save Client'}} </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>