<h2>Role Component</h2>
<div class="row">
    <div class="col-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Role Id</th>
                    <th scope="col">Role Name</th>
                </tr>
            </thead>
            @for(item of roles; track item.roleId) {
            <tbody>
                <tr>
                    <th scope="row">{{item.roleId}}</th>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
            }
        </table>
    </div>
</div>