<h2>Designation Component</h2>
<div class="row">
    <div class="col-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Role Id</th>
                    <th scope="col">Role Name</th>
                </tr>
            </thead>
            @for(item of designations.value(); track item.designationId) {
            <tbody>
                <tr>
                    <th scope="row">{{item.designationId}}</th>
                    <td>{{item.designation}}</td>
                </tr>
            </tbody>
            }
        </table>
    </div>
</div>